@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css?family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rakkas&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Kumar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pirata+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css?family=Eczar&display=swap');
/*
body, html, #app, #root, .appContainer{
  height: 100%; 
}
*/

.borderImage{
  //border-image: url("https://www.sccpre.cat/mypng/full/12-125039_free-celtic-border-celtic-border-design-png.png") 25 round;
 // border-image: url("http://pluspng.com/img-png/celtic-border-png-hd-free-clipart-of-a-celtic-rectangle-frame-border-design-element-in-4000.png") 300 round;
 border-image: url("http://www.newdesignfile.com/postpic/2012/02/celtic-border-design_172602.png") 40 round;
 font-family: 'Marcellus', serif;
 border-width: 3px; //!important; 
 border-style: solid;
}

.blackBorder{
  border: 3px solid black; 
}

.appContainer{
  margin: 10px;
 // margin-top: 90px;
}

html, body, #root, #app{
  width: 100vw;
  height: 100vh;
  max-width:100%;
}

body{
 // font-family: 'Lexend Deca', sans-serif;
 //font-family: 'Cinzel', serif;
 font-family: 'Marcellus', serif;
 //font-family: 'Eczar', serif;
  background: #d3b14d;
  color: #EEEBD0; 
  margin: 0px; 

  //51626a
  // ad3f26
  //d3b14d
}

// HEADER 

.header{
  background: #003153;
  padding: 15px; 
  position: fixed; 
  top: 0;
  left: 0; 
  //font-family: 'Cinzel Decorative', cursive;
  font-family: 'Metamorphous', cursive;
//  width: 100%; 
  display: flex; 
  justify-content: center;
  //width: 100vw; 
  position: relative; 
  z-index: 100; 
}

.headerLogoContainer{
  margin-right: auto; 
  display: flex; 
}

.headerLogo{
  width: 30px;
  height: 30px;
}

.headerName{
  padding-top: 7px;
  padding-left: 5px; 
}

.headerLinks{
  //float: right; 
  //padding-right: 30px;
  padding-top: 7px;
}

.headerLink{
  margin-left: 10px; 
  color: #EEEBD0; 
}

// LOGIN

.loginPage, .registerPage{
  //display: grid;
  height: 100vh;
}

.loginContainer, .registerContainer{
  margin: auto;
  max-width: 400px;
  color: rgb(37, 37, 37); 
 // border: 1px solid rgb(37, 37, 37); 
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.75); 
  padding: 20px; 
}

.dashboardToolsContainer{
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  grid-auto-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;

  margin-bottom: 15px; 
}

.dashboardTool{
  padding: 10px; 
  color: rgb(37, 37, 37); 
//  border: 1px solid rgb(37, 37, 37); 
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.75); 
  background-size: cover; 
  background-repeat: no-repeat;
  border-width: 8px; 
  //background-image: url("http://www.westjerseyartillery.com/wp-content/uploads/2016/04/Parchment-Background.jpg")
}

.dashboardToolHeader{
  text-align: center; 
}

.dashboardToolLabel{
  margin-bottom: 5px;
}

.dashboardToolInput{
  padding: 5px;
  width: 90%;
  display: block;
  margin: 0 auto; 
}

.postContainer{
 // float: left; 
  //padding: 10px; 
 // max-width: 30%;
  color: rgb(37, 37, 37); 
 // border: 1px solid rgb(37, 37, 37); 
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7); 
 // background-image: url("https://img.freepik.com/free-vector/yellow-parchment_53876-91513.jpg?size=626&ext=jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  border-width: 7px; 

  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  grid-column-gap: 5px;
  grid-row-gap: 25px;
  align-items: center; 
}

.posts{
  display: grid;
  overflow: hidden;
  //grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(1fr));
  //grid-auto-columns: auto;
  //grid-auto-rows: 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  grid-column-gap: 5px;
  grid-row-gap: 25px;
}

.postLink{
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.postCommentField{
  resize: vertical; 
  width: 90%;
  margin: 0 auto;
  display: block;
}

.videoIframe{
  margin: 10px auto;
  display: block;
}

.container {
  position: relative;
}

.loginPromptButton{
  text-align: center;  
  //font-style: italic;   
  align-self: center; 
  font-size: 14px; 
  margin: 15px auto; 
  padding: 5px 20px; 
  border-width: 5px; 
  display: block; 
  &:hover{
    background: #003153;
    cursor: pointer; 
    color: white; 
  }
}

// HOMEPAGE

.homePage{
  /*display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto; 
  align-items: flex-start;*/
  text-align: center; 
  padding: 30px; 
  position: relative; 
//  font-family: 'Cinzel Decorative', cursive;
//  font-family: 'Skranji', cursive;
  font-family: 'Metamorphous', cursive;
//  font-family: 'Rakkas', cursive;
//  font-family: 'Kumar One', cursive;
//  font-family: 'Pirata One', cursive; 
  background: rgba(0, 0, 0, 0.804);
  border-radius: 25px; 
}

.homePageSearchInput, .homePageSearchButton{

  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  //border: solid 7px #41403E;
  display: block ;
  margin: 0 auto; 
  border-width: 7px; 
}

.homePageLogo{
  width: 52px; 
}

.homePageHeader{
  margin-top: 10px; 
  margin-bottom: 5px; 
}
.homePageSubHeader{
  margin-top: 0px; 
}

.homePageSearchInput{
  font-size: 16px;
  padding: 7px;
  width: 90%;
  margin-top: 40px;
}

.homePageSearchButton{
  font-size: 18px; 
  padding: 10px 20px; 
  margin-top: 10px;
  &:hover{
    background: #003153;
    cursor: pointer; 
    color: white; 
  }
}

.flexHomePageContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.ytimg.com/vi/8oOUT3j3r70/maxresdefault.jpg");
  width: 100vw; 
  height: 100vh; 
  position: absolute; 
  top: 0px;
  left: 0px; 
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginModalContainer{
  position: fixed; 
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  padding: 25px; 
  text-align: center; 
  border-radius: 10px; 
  color: white; 
  background: #021D3B; 
  z-index: 5; 
  display: none; 
}

.loginModalButton{
  &:hover{
    background: #4380C6;
    cursor: pointer; 
    color: white; 
  }
  margin: 0px 10px; 
  font-size: 16px;
  border-width: 4px; 
  padding: 5px 20px; 
}

.loginModalDarkness{
    background: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 4;  
    opacity: .8;
    display: none; 
}

.openModal{
  display: block; 
}

.noContentDisclaimer{
  text-align: center; 
  font-style: italic; 
}

.postsTags{
  margin-bottom: 15px; 
}

.showMoreTags{
  margin-bottom: 15px; 
  cursor: pointer; 
}

.postCommentContainer, .postVideoContainer, .postTagContainer{
  background: rgba(255, 255, 255, 0.8); 
  padding: 10px; 
  /*&:not(:last-child){
   margin-bottom: 10px; 
  }*/
  border-radius: 5px; 
  height: 100%;
}

.removeTag{
  margin-left: 5px; 
  font-size: 12px; 
  &:hover{
    color: red; 
    cursor: pointer; 
  }
}

.noPostsDisclaimer{
  text-align: center;
  margin-top: 30px;   
  color: white; 
  text-transform: uppercase; 
}

.editCommentButtonContainer{
  text-align: center; 
}